@font-face {
    font-family: legofont;
    src: url('../fonts/lego-brix/LEGO BRIX.ttf');
}
/* Links */
a,
a:focus,
a:hover {
  color: #e9d589; /*rgb(126, 230, 161);*/
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #ffffff;
  background-color: #5c3387;
  background: #4f3b5b;
  background: -moz-radial-gradient(center, ellipse cover,  #4f3b5b 0%, #231733 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f3b5b), color-stop(100%,#231733));
  background: -webkit-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: -o-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: radial-gradient(ellipse at center,  #4f3b5b 0%,#231733 100%);
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background-image:url('../img/grid-me.png');*/
 text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.lead{
  color: auto;
  text-shadow: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bg{
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .2;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
/*  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 15px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px){
.masthead-brand {
    float: left;
}

}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #e3ff5d;
  border-bottom-color: #fff;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.mastfoot{
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  width: 100%;
  background: auto;
}
.img-circle{
    height: 124px;
    width: 124px;
    border-radius: 50%;
/*    border: 6px solid rgba(255, 255, 255, 0.38);    */
}

.icon{
    font-size: 22px !important;
    padding: 5px;
}

.social-link{
    display: inline;
    margin: 4px
    padding:38px;
}

.social-link:hover{
    /*background-color: #ffcc00;*/
  color: #ddff37 /*#ffd803*/;
  cursor: pointer;
}

.mastfoot p {
  color: #8d7f9c;
  text-shadow: none;
  margin:0;
}
